@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;

  --color-brand-blue: #0052cc;
}

:root {
  font-family: var(--font-sans);
}